.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 18px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px;
  top: 0;
  height: 80px;
  margin: auto;
  padding: 0 50px;
}

.site-header {
  position: sticky;
  border-bottom: 1px solid #010541;
  background-color: rgb(224, 223, 223);
  width: 100%;
}

.site-header__logo {
  display: flex;
  align-items: center;
}

.site-header__name {
  font-size: 44px;
  margin-bottom: 19px;
}

.site-header__name_first-word {
  color: #f52;
}

.site-header__icons {
  position: relative;
  display: flex;
  gap: 20px;
}

.site-header__heart-block {
  display: flex;
  align-items: center;
  position: relative;
}

.heart__counter {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 20px;
  min-width: 10px;
  padding-right: 5px;
  padding-left: 5px;
  color: #ffffff;
  background-color: #f36223;
  border-radius: 50px;
}

.site-header__basket-block {
  position: relative;
  
}

.basket__counter {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 20px;
  min-width: 10px;
  padding-right: 5px;
  padding-left: 5px;
  color: #ffffff;
  background-color: #f36223;
  border-radius: 50px;
  
}

.navigation {
  max-width: 1500px;
  padding: 0px 50px;
  width: 100%;
  margin: auto;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px;
}

.product {
  max-width: 1500px;
  padding: 0px 50px;
}

.product__head {
  padding: 0px 0px 20px;
  gap: 10px;
}

.product__head-tittle {
  margin-top: 0;
}

.product__photo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.characteristics__total {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-top: 30px;
}

.characteristics__info {
  flex-grow: 1;
  padding: 0px;
}

.characteristics__name {
  font-size: 16px;
  margin: 0;
  margin-bottom: 15px;
}

.characteristics__color {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.memory-info__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.memory-info__btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 16px;
  padding: 10px 20px;
  gap: 10px;
  box-sizing: border-box;
  border: 1px solid #888888;
  border-radius: 4px;
  background-color: transparent;
}

.memory-info__btn:hover {
  background-color: #888888;
}

.memory-info__btn:active {
  border-color: #a93a09;
}

.memory-info__btn_selected {
  border-color: #f36223;
}

.memory-info__selection {
  font-size: 16px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 15px;
}

.characteristics__btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 80px;
  height: 80px;
  border: 1px solid #888888;
  border-radius: 4px;
  background-color: #ffffff;
}

.characteristics__btn_direct:hover {
  background-color: #888888;
}

.characteristics__btn_direct:active {
  border-color: #a93a09;
}

.characteristics__btn_direct_selected {
  border-color: #f36223;
}

.characteristics__btn_direct_selected:hover {
  background-color: #888888;
}

.property__name {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.property__list {
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 16px;
  padding: 0px;
  gap: 10px;
  margin-bottom: 0;
}

.property__title {
  list-style-image: url("../image/marker/marker.png");
}

.description {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  font-size: 16px;
}

.description__name {
  margin-top: 30px;
}

.description__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 0px;
  margin-top: 0;
}

.table {
  font-size: 16px;
}

.table__block {
  border: 1px solid #888888;
  border-collapse: collapse;
  white-space: nowrap;
}

.table__name {
  border: 1px solid #888888;
  padding: 10px;
}

.table__line_direct:hover {
  background-color: #888888;
}

.table__meaning {
  padding: 10px;
  border-right: 1px solid #888888;
}

.price__block {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.price__info {
  width: 100%;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.price__name {
  align-items: flex-start;
  gap: 15px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.price__phone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.price__old::after {
  content: "";
  display: inline-block;
  flex-grow: 1;
  height: 30px;
  width: 30px;
  background-image: url("../image/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.price__old:hover::after {
  content: "";
  display: inline-block;
  flex-grow: 1;
  height: 30px;
  width: 30px;
  background-image: url("../image/icons/heart-hover.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.price__old:active::after {
  content: "";
  display: inline-block;
  flex-grow: 1;
  height: 30px;
  width: 30px;
  background-image: url("../image/icons/heart-click.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.price__old {
  font-size: 16px;
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 10px;
}

.price__old-price {
  color: #888888;
}

.price__discount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 10px;
  width: 47px;
  height: 24px;
  background: #f36223;
  border-radius: 500px;
  color: #ffffff;
}

.price__new {
  font-size: 32px;
}

.delivery {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.delivery__data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 35px;
}

.btn {
  display: flex;
  align-self: stretch;
  justify-content: center;
  gap: 15px;
  padding: 20px 49px;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  background: #f36223;
  border-radius: 4px;
  border: none;
}

.btn::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../image/icons/cart.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.btn_direct:hover {
  background-color: #da4a0c;
}

.btn_direct:active {
  background-color: #a93a09;
}

.commerce {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.commerce__text {
  display: inline-block;
  font-size: 14px;
  color: #888888;
}

.commerce__list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.navigation__list-name {
  color: #018ad2;
  text-decoration-line: none;
}

.navigation__list-name_bracket::after {
  content: ">";
  color: black;
  padding-left: 4px;
  padding-right: 4px;
}

.navigation__list-name_direct:hover {
  color: #f36223;
}

.navigation__list-name_direct:active {
  color: #a93a09;
}

.link {
  color: #018ad2;
  text-decoration-line: none;
}

.link_direct:hover {
  color: #f36223;
}

.link_direct:active {
  color: #a93a09;
}

.commerce__advertisement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 420px;
  height: 300px;
  border: 1px dashed #ccc;
}

.reviews {
  display: flex;
  flex-direction: column;
  width: 880px;
  gap: 40px;
}

.reviews__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.reviews__line {
  display: flex;
  gap: 10px;
}

.form {
  width: 880px;
  border: none;
  font-size: 16px;
  padding: 0;
}

.form__container {
  padding-left: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.form__container-first {
  display: flex;
  justify-content: space-between;
}

.form__head {
  padding-left: 170px;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 15px;
}

.form__name {
  padding: 15px 20px;
  box-sizing: border-box;
  border: 1px solid #888888;
  margin-right: 40px;
  width: 100%;
}

.form__second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.form__name:hover {
  border: 1px solid #000000;
}

.form__name:focus {
  border: 1px solid #000000;
}

.form__name::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #888888;
}

.form__estimation {
  padding: 15px 20px;
  box-sizing: border-box;
  border: 1px solid #888888;
  width: 175px;
}

.form__estimation:hover {
  border: 1px solid #000000;
}

.form__estimation:focus {
  border: 1px solid #000000;
}

.form__estimation::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #888888;
}

.form__text {
  resize: none;
  border: 1px solid #888888;
  padding: 15px 20px;
  box-sizing: border-box;
  width: 100%;
  height: 190px;
}

.form__text:hover {
  border: 1px solid #000000;
}

.form__text:focus {
  border: 1px solid #000000;
}

.form__text::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #888888;
}

.form__button {
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  background-color: #f36223;
  color: #ffffff;
}

.form__button:hover {
  background-color: #da4a0c;
}

.form__button:active {
  background-color: #a93a09;
}

.reviews__header {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

.reviews__count {
  font-weight: 700;
  font-size: 24px;
  color: #888888;
}

.feedback {
  display: flex;
  gap: 30px;
}

.feedback__photo-client {
  width: 140px;
  height: 140px;
}

.feedback__name {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}

.feedback__rating {
  margin-top: 10px;
}

.feedback__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  font-size: 14px;
}

.line__block {
  border-top: 1px dashed #888888;
  width: 710px;
  margin-left: 170px;
}

.footer {
  padding-top: 100px;
  max-width: 1500px;
  padding: 0px 50px;
  width: 100%;
}

.footer__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer__name {
  display: flex;
  font-weight: 700;
}

.footer__first-word {
  color: #f52;
}

@media (max-width: 1499px) {
  

  .table {
    display: none;
  }

  .product__image {
    height: 270px;
    width: auto;
  }

  .characteristics__total {
    gap: 40px;
  }

  .commerce__advertisement {
    width: 360px;
  }

  .feedback__photo-client {
    width: 100px;
    height: 100px;
  }

  .feedback__rating {
    width: 100px;
    height: 20px;
  }

  .reviews {
    width: 594px;
  }

  .line__block {
    width: 464px;
    margin-left: 130px;
  }

  .form__container {
    padding-left: 0px;
  }

  .form__head {
    padding-left: 0px;
  }

  .form {
    width: 594px;
  }
}
