.basket__counter {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 20px;
  min-width: 10px;
  padding-right: 5px;
  padding-left: 5px;
  color: #ffffff;
  background-color: #f36223;
  border-radius: 50px;  
}