.link {
  color: #018ad2;
  text-decoration-line: none;
}

.link_direct:hover {
  color: #f36223;
}

.link_direct:active {
  color: #a93a09;
}

.footer {
  padding-top: 100px;
  max-width: 1500px;
  padding: 0px 50px;
  width: 100%;
}

.footer__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer__name {
  display: flex;
  font-weight: 700;
}

.footer__first-word {
  color: #f52;
}

@media (max-width: 1023px) {
  .footer__block {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
}