.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px;
  top: 0;
  height: 80px;
  margin: auto;
  padding: 0 50px;
}

a {
  color: black;
  text-decoration-line: none;
}

.site-header {
  position: fixed;
  border-bottom: 1px solid #010541;
  background-color: rgb(224, 223, 223);
  width: 100%;
  
}

.site-header__logo {
  display: flex;
  align-items: center;
}

.site-header__name {
  font-size: 44px;
  margin-bottom: 19px;
}

.site-header__name_first-word {
  color: #f52;
}

.site-header__icons {
  position: relative;
  display: flex;
  gap: 20px;
}

.site-header__heart-block {
  display: flex;
  align-items: center;
  position: relative;
}

.site-header__basket-block {
  position: relative;
}

@media (max-width: 1023px) {

  .header {
    height: 55px;
    padding: 0 10px;
  }

  .site-header__icon {
    height: 30px;
  }

  .site-header__name {
    font-size: 32px;
    margin-bottom: 19px;
  }

  .site-header__heart-icon {
    width: 30px;
    height: 30px;
  }

  .site-header__basket-icon {
    height: 30px;
  }
}