.price__info {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.price__name {
  align-items: flex-start;
  gap: 15px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.price__phone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.price__old {
  font-size: 16px;
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 10px;
}

.price__old-price {
  color: #888888;
}

.price__discount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 10px;
  width: 47px;
  height: 24px;
  background: #f36223;
  border-radius: 500px;
  color: #ffffff;
}

.price__new {
  font-size: 32px;
}

.delivery {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.delivery__data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 35px;
}

@media (max-width: 1023px) {
  
  .delivery__data {
    font-size: 14px;
  }

  .delivery__data {
    margin-bottom: 15px;
  }
}