body {
    margin: 0;
    height: 100vh;
    background: #F0F0F0;   
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.text__info {
    color: #008CF0;
    text-decoration-line: none;
}

.text__info_direct:hover {
    color: #F36223;
}

.text__info_direct:active {
    color: #a93a09;
}