.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 18px;
  margin: 0 auto;
  overflow-x: hidden;
}

.navigation {
  max-width: 1500px;
  padding-top: 80px;
  padding-left: 50px;
  width: 100%;
  margin: auto;
}

.navigation__list {
  padding: 8px 0px;
}

.product {
  max-width: 1500px;
  padding: 0px 50px;
  margin: 0 auto;
  width: 100%;
}

.product__head {
  padding: 0px 0px 20px;
  gap: 10px;
}

.product__head-tittle {
  margin-top: 0;
}

.product__photo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.characteristics__total {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-top: 30px;
}

.characteristics__info {
  flex-grow: 1;
  padding: 0px;
}

.characteristics__name {
  font-size: 16px;
  margin: 0;
  margin-bottom: 15px;
}

.property__name {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.property__list {
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 16px;
  padding: 0px;
  gap: 10px;
  margin-bottom: 0;
}

.property__title {
  list-style-image: url(/public/image/marker/marker.png);
}

.description {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  font-size: 16px;
}

.description__name {
  margin-top: 30px;
}

.description__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 0px;
  margin-top: 0;
}

.table {
  font-size: 16px;
}

.table__block {
  border: 1px solid #888888;
  border-collapse: collapse;
  white-space: nowrap;
}

.table__name {
  border: 1px solid #888888;
  padding: 10px;
}

.table__line_direct:hover {
  background-color: #888888;
}

.table__meaning {
  padding: 10px;
  border-right: 1px solid #888888;
}

.price__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.commerce {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.commerce__text {
  display: inline-block;
  font-size: 14px;
  color: #888888;
}

.commerce__list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.navigation__list-name {
  color: #018ad2;
  text-decoration-line: none;
}

.navigation__list-name_bracket::after {
  content: ">";
  color: black;
  padding-left: 4px;
  padding-right: 4px;
}

.navigation__list-name_direct:hover {
  color: #f36223;
}

.navigation__list-name_direct:active {
  color: #a93a09;
}

.link {
  color: #018ad2;
  text-decoration-line: none;
}

.link_direct:hover {
  color: #f36223;
}

.link_direct:active {
  color: #a93a09;
}

.commerce__advertisement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 420px;
  height: 300px;
  border: 1px dashed #ccc;
}

.reviews {
  display: flex;
  flex-direction: column;
  max-width: 880px;
  gap: 40px;
}

.reviews__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.reviews__line {
  display: flex;
  gap: 10px;
}

.reviews__header {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

.reviews__count {
  font-weight: 700;
  font-size: 24px;
  color: #888888;
}

@media (max-width: 1499px) {
  

  .table {
    display: none;
  }

  .product__image {
    height: 270px;
    width: auto;
  }

  .characteristics__total {
    gap: 40px;
  }

  .commerce__advertisement {
    width: 360px;
  }
}

@media (max-width: 1023px) {

  .product {
    padding: 0px 10px;
  }

  .table {
    display: none;
  }

  .commerce {
    display: none;
  }

  .navigation {
    max-width: 1500px;
    padding-top: 50px;
    padding-left: 10px;
    font-size: 14px;
    width: 100%;
    margin: auto;
  }

  .characteristics__name {
    font-size: 14px;
  }

  .property__name {
    font-size: 14px;
  }

  .property__list {
    font-size: 14px;
  }

  .product__head-tittle {
    font-size: 24px;
  }

  .price__block {
    gap: 15px;
  }

  .characteristics__total {
   flex-direction: column-reverse; 
  }

  .description {
    font-size: 14px;
  }
}