.form {
  border: none;
  font-size: 16px;
  padding: 0;
}

.form__container {
  padding-left: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.hidden {
  display: none;
}

.form__container-first {
  display: flex;
  justify-content: space-between;
}

.form__head {
  padding-left: 170px;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 15px;
}

.form__name-input {
  margin-right: 40px;
  width: 100%;
  position: relative;
}

.form__name {
  padding: 15px 20px;
  box-sizing: border-box;
  border: 1px solid #888888;
  width: 100%;
}

.error__text {
  color: #FFFFFF;
  width: 100%;
  height: 30px;
  position: absolute;
  background-color: #DA4A0C;
}

.form__second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.form__name:hover {
  border: 1px solid #000000;
}

.form__name:focus {
  border: 1px solid #000000;
}

.form__name::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #888888;
}

.form__estimation-input {
  width: 175px;
  position: relative;
}

.form__estimation {
  padding: 15px 20px;
  box-sizing: border-box;
  border: 1px solid #888888;
  width: 100%;
}

.error__count {
  font-size: 12px;
  color: #FFFFFF;
  width: 100%;
  height: 30px;
  position: absolute; 
  background-color: #DA4A0C;
}

.form__estimation:hover {
  border: 1px solid #000000;
}

.form__estimation:focus {
  border: 1px solid #000000;
}

.form__estimation::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #888888;
}

.form__text {
  resize: none;
  border: 1px solid #888888;
  padding: 15px 20px;
  box-sizing: border-box;
  width: 100%;
  height: 190px;
}

.form__text:hover {
  border: 1px solid #000000;
}

.form__text:focus {
  border: 1px solid #000000;
}

.form__text::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #888888;
}

.form__button {
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  background-color: #f36223;
  color: #ffffff;
}

.form__button:hover {
  background-color: #da4a0c;
}

.form__button:active {
  background-color: #a93a09;
}

@media (max-width: 1499px) {
  
  .form__container {
    padding-left: 0px;
  }

  .form__head {
    padding-left: 0px;
  }
}

@media (max-width: 1023px) {
  .form__container-first {
    flex-wrap: wrap;
    gap: 25px;
  }

  .form__estimation-input {
    width: 100%;
  }

  .form__name-input {
    margin-right: 0px;
  }
}