.page-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: sans-serif;
  height: 100vh;
  overflow-y:hidden;  
  overflow-x:hidden;
}

.page-text {
  width: 360px;
  font-size: 16px;
  height: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-link {
  padding-top: 20px;
  color: #018ad2;
  text-decoration-line: none;
}

.page-link:hover {
  color: #f36223;
}

.page-link:active {
  color: #a93a09;
}