.btn {
  display: flex;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px 50px;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  background: #f36223;
  border-radius: 4px;
  border: none;
}

.btn_remove {
  display: flex;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px 50px;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  background: grey;
  border-radius: 4px;
  border: none;
}

.btn_remove::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(/public/image/icons/cart.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.btn::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(/public/image/icons/cart.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.btn_direct:hover {
  background-color: #da4a0c;
}

.btn_direct:active {
  background-color: #a93a09;
}

@media (max-width: 1499px) {
  .btn {
    font-size: 16px;
    width: 298px;
  }

  .btn_remove {
    font-size: 16px;
  }
}

@media (max-width: 1023px) {
  .btn {
    font-size: 16px;
    width: 298px;
  }

  .btn_remove {
    font-size: 16px;
  }
}