
.memory-info__selection {
  font-size: 16px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 15px;
}

.memory-info__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.memory-info__btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 16px;
  padding: 10px 20px;
  gap: 10px;
  box-sizing: border-box;
  border: 1px solid #888888;
  border-radius: 4px;
  background-color: transparent;
}

.memory-info__btn:hover {
  background-color: #888888;
}

.memory-info__btn:active {
  border-color: #a93a09;
}

.memory-info__btn_selected { 
  border-color: #f36223; 
} 

@media (max-width: 1023px) {
  
  .memory-info__selection {
    font-size: 14px;
  }
}