.btn_heart {
  content: "";
  display: inline-block;
  flex-grow: 1;
  height: 30px;
  width: 30px;
  background: none;
  border: none;
  background-repeat: no-repeat;
  background-image: url(/public/image/icons/heart.svg);
  background-position: right center;
}

.btn_heart-remove {
  content: "";
  display: inline-block;
  flex-grow: 1;
  height: 30px;
  width: 30px;
  background: none;
  border: none;
  background-repeat: no-repeat;
  background-image: url(/public/image/icons/heart-click.svg);
  background-position: right center;
}

.btn_heart:active {
  content: "";
  display: inline-block;
  flex-grow: 1;
  height: 30px;
  width: 30px;
  background: none;
  border: none;
  background-repeat: no-repeat;
  background-image: url(/public/image/icons/heart-click.svg);
  background-position: right center;
}

.btn_heart:hover {
  content: "";
  display: inline-block;
  flex-grow: 1;
  height: 30px;
  width: 30px;
  background: none;
  border: none;
  background-repeat: no-repeat;
  background-image: url(/public/image/icons/heart-hover.svg);
  background-position: right center;
}

