.feedback {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.feedback__module {
  display: flex;
  gap: 30px;
}

.feedback__photo-client {
  width: 140px;
  height: 140px;
}

.feedback__name {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}

.feedback__rating {
  margin-top: 10px;
}

.feedback__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  font-size: 14px;
}

.line__block {
  border-top: 1px dashed #888888;
  width: 710px;
  margin-left: 170px;
}
.feedback__rating-two {
  display: none;
}

.feedback__name-two {
  display: none;
}

@media (max-width: 1499px) {

  .feedback__photo-client {
    width: 100px;
    height: 100px;
  }

  .feedback__rating {
    width: 100px;
    height: 20px;
  }

  .line__block {
    width: 464px;
    margin-left: 130px;
  }

  .feedback__rating-two {
    display: none;
  }

  .feedback__name-two {
    display: none;
  }
}

@media (max-width: 1023px) {
  .line__block {
    width: 100%;
    margin-left: 10px;
  }

  .feedback__module {
    flex-direction: column;
  }

  .feedback__photo-client {
    width: 60px;
    height: 60px;
  }

  .feedback__name {
    display: none;
  }

  .feedback__rating {
    display: none;
  }

  .feedback__rating-two {
    display: block;
    width: 100px;
    height: 20px;
  }

  .feedback__name-two {
    display: block;
    margin: 0;
    font-weight: 700;
    font-size: 20px;
  }

  .feedback__main {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}