.characteristics__color {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0px;
  gap: 10px;
}

.characteristics__btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 80px;
  height: 80px;
  border: 1px solid #888888;
  border-radius: 4px;
  background-color: #ffffff;
}

.characteristics__btn_direct:hover {
  background-color: #888888;
}

.characteristics__btn_direct:active {
  border-color: #a93a09;
}

.characteristics__btn_direct_selected {
  border-color: #f36223;
}

.characteristics__btn_direct_selected:hover {
  background-color: #888888;
}

@media (max-width: 1023px) {
  .characteristics__btn {
    width: 60px;
    height: 60px;
  }

  img {
    height: 50px;
  }
}